@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import './md-editor.css';

@source '../../../../**/*.{html,js,ts,vue,tsx,jsx}';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

.page-enter-active,
.page-leave-active {
    transition:
        opacity 0.18s ease,
        transform 0.18s ease;
}

.page-enter-from {
    opacity: 0;
    transform: translateY(6px);
}

.page-leave-to {
    opacity: 0;
    transform: translateY(-6px);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background: #454545;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

.app-card {
    @apply bg-white dark:bg-gray-800 rounded-lg shadow-sm;
}
