@import 'md-editor-v3/lib/style.css';

.md-editor-preview h1,
.md-editor-preview h2,
.md-editor-preview h3,
.md-editor-preview h4,
.md-editor-preview h5,
.md-editor-preview h6 {
    position: relative;
    word-break: break-all;
    margin: 0.5em 0 0.3em 0;
    font-weight: bold;
}

.md-editor-preview .md-editor-code .md-editor-code-head {
    z-index: 1;
}

.md-editor-preview ul:not(.md-editor-codetab-label) {
    list-style-type: disc;
}

.md-editor-preview ol {
    list-style-type: decimal;
}

.md-editor-preview ul .task-list-item,
.md-editor-preview ol .task-list-item {
    list-style-type: none;
}

.md-editor-previewOnly {
    background-color: transparent !important;
}
