# Shared
PROJECT_PATH=/var/www/example/project

# Log backups
LOG_BACKUP_PATH=/var/www/example/project/storage/logs/backups
LOG_FILES="laravel.log default_queue.log high_queue.log rate_limited_queue.log horizon.log"

# Backup retention and remote sync
BACKUPS_DIR=/home/ubuntu/_BACKUPS_
BACKUP_RETENTION_DAYS=7
RCLONE_REMOTE_NAME=gdrive
REMOTE_DRIVE_FOLDER_NAME=DEV_SERVER

# PostgreSQL
POSTGRES_CONTAINER=postgres_container
POSTGRES_USER=app_user
POSTGRES_ADMIN_USER=root
POSTGRES_DB=app_database
POSTGRES_DB_OWNER=app_user
POSTGRES_TEST_DB=app_database_test
CREATE_POSTGRES_DB=

# PostgreSQL restore
PG_BACKUP_FILE=
PG_DEST_DB=

# MongoDB
MONGO_CONTAINER=
MONGO_DB=
MONGO_EXCLUDE_COLLECTIONS="traffic_survey_features mob_app_logs"
